.conteiner {
  width: 1340px;
  margin: 0px auto;
  position: relative;
}

header {
  background-color: white;
  height: auto;
  margin: 55px auto 55px auto;
  font-size: 18px;
  font-weight: 400;
}

.header__container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-underline-offset: 4px;
}

.header__menu {
  margin-top: 1px;
  align-self: center;
  margin-right: auto;
}

.header__menu-dots {
  display: flex;
}

.header__menu-items {
  line-height: 21px;
  list-style-type: circle;
}

.header__menu-list {
  margin-right: 32px;
}

.header__menu__link {
  letter-spacing: 0.1px;
}

.header__links-list_no-bullit {
  list-style-type: none;
}

.main_without_under-line {
  text-decoration: none;
}

.header__logo {
  align-self: center;
  margin: auto;
}

.header__logo-img {
  height: 179px;
  width: 137px;
}

.header__contacts {
  margin: 7px 0;
  align-self: center;
  margin-left: auto;
}

.header__contacts-otstup {
  margin-top: -1px;
  margin-bottom: 3px;
  line-height: 22px;
}

.markup__cover {
  width: 1440px;
  margin: 0px auto;
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
}

.cover__conteiner {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.cover__title {
  padding: 165px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    " ono . ."
    ". tebe ."
    ". . nado";
  gap: 26px;
}

/* доделать расстояние между буквами и расстояние до heading */

.cover_heding-ono {
  display: flex;
  width: 100%;
  grid-area: ono;
  justify-content: flex-start;
}
.cover_heding-ono-o {
  margin-left: 31px;
}
.cover_heding-tebe {
  display: flex;
  width: 100%;
  grid-area: tebe;
  justify-content: flex-start;
  align-items: flex-start;
}
.cover_heding-tebe-e {
  margin-left: 31px;
}
.cover_heding-nado {
  display: flex;
  width: 100%;
  grid-area: nado;
  justify-content: flex-end;
  align-items: center;
  /* letter-spacing: 0px; */
}

.cover_heding-nado-n {
  margin-right: 30px;
}

.cover_heding-nado-o {
  letter-spacing: 0;
}

.cover_heding-general {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 115%; /* 115px */
}

/* доделать расстояние между буквами и расстояние до heading */

.conteiner_cover_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 135px;
}

/* нужно определить расстояние между буквами и подогнать под размер */

.cover_subtitle {
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 17px;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px; /* 127.273% */
  transform: translateX(59%);
  width: 633px;
  height: auto;
  display: flex;
  align-items: center;
}

.cover_subtitle-nikto {
  margin-left: 15px;
}

.cover_button {
  text-decoration: none;
  border: 1px solid white;
  margin-top: 3px;
  padding: 11px 32px 11px 32px;
}

.logs__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 180px 0 27px 40px;
}

.lots__card-list-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: -1;
}

.card {
  list-style-type: none;
  width: 430px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 0;
  padding: 50px 40px;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  line-height: 26px;
  position: relative;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.card_type_film {
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card__title__film__debug {
  letter-spacing: 0px;
}

.card_type_book {
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card__title__book__debug {
  letter-spacing: 0.2px;
}

.card_type_picture {
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
}

.lots__look-more-link-text {
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.about {
  width: 100%;
  height: 487px;
}

.conteiner__about {
  margin-top: 185px;
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "logo title"
    ". main";
  column-gap: 24px;
  row-gap: 6px;
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  border: 1px solid black;
  background-color: #000;
  border-radius: 50%;
  margin: -4px 95px 0px 95px;
}

.about__logo-item {
  margin: 62px 0px 0px 46px;
  width: 146px;
  height: 114px;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 1.5px;
  grid-area: title;
  display: flex;
  align-items: center;
}

.about__main {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 1.5px;
  grid-area: main;
}

.about__text-first {
  margin-bottom: 29px;
}

.conteiner__footer {
  letter-spacing: 0.7px;
  margin-top: 178.5px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  word-spacing: -1px;
  text-underline-offset: 4px;
  line-height: 10px;
  margin: 1px 0px 0px 1px;
  justify-content: start;
}

.footer__menu {
  word-spacing: -1px;
  margin-left: 2px;
  margin-bottom: 0px;
  justify-content: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-item {
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer__social {
  width: 240px;
  margin-top: -1.5px;
  display: flex;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
